/*
 *
 * CSS written based on SMACSS architecture.
 * To learn more, visit: http://smacss.com/
 * 
 * For simplicity, no reset or normalize is added. 
 * To learn more, visit: https://css-tricks.com/reboot-resets-reasoning/
 *
*/

/*
* STUDENT NOTE! I have added and changed some CSS to make the page more personalized. 
*/


/* ---- Base Rules ---- */
body {
    background: linear-gradient(0deg, rgb(240, 181, 18) 0%, rgb(102, 37, 187) 100%); 
    margin: 0;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #fff;
}


/* Typeography General */
h1 {
    /* font-family: 'Fira Sans', sans-serif; */
    font-size: 3em;
    margin: 2em 1rem;
}

@media only screen and (min-width: 35em){
    h1 {
        font-size: 7em;
        margin: 2em 4rem 1em;
    }
}

h2 {
    padding-bottom: 2%;
    border-bottom: 2px solid darkorange;
    font-size: 3em;
    color: #fff;
}

p {
    line-height: 1.6em;
    color: #eee;
}

/* ---- Layout Rules ---- */
main {
    margin: 10vh 1em 10vh;
}

.main-hero {
    min-height: 40vh;
    padding-top: 3em;
}

section {
    position: relative;
    min-height: 80vh;
}

@media (min-height: 1360px) {
    section {
        min-height: 0vh !important;
        height: 55vh !important;
    }
}


/* ---- Module Rules ---- */

/* Navigation Styles */

.navbar__menu ul {
    padding-left: 0;
    list-style-type: none;
    margin: 0;
    text-align: center;
}

.navbar__menu li {
    display: inline-block;
    padding: 1%;
    margin: 5px;
}

.navbar__menu .menu__link {
    display: block;
    padding: 1em;
    text-decoration: none;
    color: #000;
}

/* Changed the mouse hover properties */
.navbar__menu .menu__link:hover {
    background: rgb(102, 37, 187);
    border-radius: 10px;
    color: #fff !important;
    transition: ease 0.3s all;
}

/* Created a section Hover class that applies the new properties to the
navbar link when it is in view */
.sectionHover {
    background: rgb(240, 181, 18);
    border-radius: 10px;
    color: #fff !important;
    font-weight: bold;
}

/* Changes the navbar link font-size when the screen is Mobile size */
@media  (max-width: 425px) {
    .navbar__menu .menu__link  {
        font-size: 11px;
    }
}

/* The classes used to change the view of the navbar when scrolling */
.navHide {
    margin-top: -500px !important;
}

.navShow {
    margin-top: 0;
}


/* Header Styles */
.page__header {
    background: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

/* Footer Styles */
/* Minor color changes to match the rest of the style changes */
.page__footer {
    background: #fff;
    padding: 1em;
    text-align: center;
    color: tomato;
}

.page__footer p{
    color: tomato;
}



/* ---- Theme Rules ---- */
/* Landing Container Styles */
.landing__container {
    padding: 1em;
    text-align: left;
    
}

@media only screen and (min-width: 35em){
    .landing__container {
        max-width: 50em;
        padding: 4em;
    }
}

section:nth-of-type(even) .landing__container {
    margin-right: 0;
    margin-left: auto;
    text-align: right; 
}

/* Background Circles */
/* Note that background circles are created with psuedo elements before and after */
/* Circles appear to be random do to use of :nth-of-type psuedo class */
section:nth-of-type(odd) .landing__container::before {
    content: '';
    background: rgba(255, 255, 255, 0.187);
    position: absolute;
    z-index: -5;
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(even) .landing__container::before {
    content: '';
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,.2) 100%);
    position: absolute;
    top: 3em;
    right: 3em;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(3n) .landing__container::after {
    content: '';
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,.2) 100%);
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(3n + 1) .landing__container::after {
    content: '';
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,.2) 100%);
    position: absolute;
    right: 20vw;
    bottom: -5em;
    z-index: -5;
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

@media (max-width: 425px) {
    section h2 {
        font-size: 24px;
    }
    section p {
        font-size: 14px;
    }
}

/* Changes section Obacity when not in view of the observer */
.notInView {
    opacity: 0.65;
}

/* ---- Theme State Rules ---- */
/* Section Active Styles */
/* Note: your-active-class class is applied through javascript. You should update the class here and in the index.html to what you set in your javascript file.  */


section.your-active-class .landing__container::before {
    opacity: 1;
    animation: rotate 4s linear 0s infinite forwards;
}

section.your-active-class .landing__container::after {
    opacity: 1;
    animation: rotate 5s linear 0s infinite forwards reverse;
}

/* Changes to the style when section is in view such that it is a stand out 'card' when in view */
section.your-active-class .landing__container {
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 15px;
    transition: 1s;
    transition-timing-function: ease-in-out;
    /* transition: ease-in-out; */
}
section.your-active-class .landing__container h2 {
    color: darkcyan;
    border-bottom: 2px solid turquoise;
}
section.your-active-class .landing__container p {
    color: darkcyan;
}

/* Style for when the section has collapsed */
section.collapsed {
    height: 25vh !important;
    min-height: 5vh;
}
section.collapsed .landing__container {
    padding: 1%;
}
section.collapsed .landing__container h2 {
    margin: 1% 1.5%;
    padding: 0;
    border: none;
}
section.collapsed .landing__container p {
    display: none;
}
/* Collapsed hover style */
section.collapsed .landing__container:hover {
    cursor: pointer;
    background-color: rgba(64, 224, 208, 0.85);
    border-radius: 15px;
}
section.collapsed .landing__container:hover h2 {
    color: white;
}
section.collapsed.notInView .landing__container:hover { 
    background-color: tomato;
}

#top {
    /* display: none; */
    margin-bottom: -500px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 1% 1.5%; 
    background-color: tomato;
    color: white;
    border-radius: 15px;
    border: none;

}

@media (max-width: 375px) {
    #top {
        padding: 3%;
    }
}

/* Section Active Styles Keyframe Animations */
@keyframes rotate {
	from {
		transform: rotate(0deg)
		           translate(-1em)
		           rotate(0deg);
	}
	to {
		transform: rotate(360deg)
		           translate(-1em) 
		           rotate(-360deg);
	}
}

